* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: radial-gradient(
    circle at 10% 20%,
    rgb(69, 86, 102) 0%,
    rgb(34, 34, 34) 90%
  );
  /* background-image: linear-gradient(
    to right,
    rgb(107, 33, 168),
    rgb(76, 29, 149),
    rgb(107, 33, 168)
  ); */
  font-family: "Inter", sans-serif;
  color: #fff;
  /* font-weight: lighter; */
}
